.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  padding: 22px 24px;
}

@media only screen and (min-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    grid-template-columns: repeat(6, 1fr);
  }
}
