@import "vars.css";
.root {
    height: 100%;
    padding-top: var(--nav-height);
    display: flex;
    flex-direction: column;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.page {
    flex-grow: 1;
}
