@import "vars.css";

/* Apply border-box for all elements. */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Make app root fill whole screen. */
html,
body,
#root {
  height: 100%;
  margin: 0;
}

/* Setup fonts. */
body {
  font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-dark);
}

