@import "vars.css";

.nav {
    display: flex;
    align-items: center;
    padding: 8px 48px;
    min-height: 100px;
    background: var(--color-primary);
}

.logo {
    text-decoration: none;
    font-weight: 400;
    color: var(--color-dark);
    font-size: 1.6rem;
}

.links {
    margin-left: auto;
}

.link:not(:last-child) {
    margin-right: 12px;
}
