@import "vars.css";

.nav {
  display: flex;
  align-items: center;
  padding: 8px 48px;
  height: var(--nav-height);
  background: var(--color-primary);
}

.logo {
  text-decoration: none;
  font-weight: 400;
  color: var(--color-dark);
  font-size: 1.6rem;
}

.links {
  display: flex;
  margin-left: auto;
  gap: 12px;
  align-items: center;
}

@media only screen and (max-width: 768px) {
    .nav {
        padding: 24px;
    }
}
